{block title}Kontakt{/block}
{block content}
<h1>Kontaktné údaje</h1>
<dl id='kontakt-info' class='vcard'>
<dt>názov:</dt><dd class='fn org'>pH design</dd>
<dt>ičo:</dt>
<dd>nejake cislo</dd>
<dt>email:</dt>
<dd><a class='email' href='mailto:info(zavináč)poha.sk'>info(zavináč)poha.sk</a></dd>
<dt>telefón:</dt><dd class='tel'><span class='value'>(+421) 949 623 220</span></dd>
</dl>
{/block}
