{block title}Kontakt{/block}
{block content}
<h1>Kontaktné údaje</h1>
<dl id='kontakt-info' class='vcard'>
<dt>email:</dt>
<dd><a class='email' href='cosicosi(zavináč)cosi'>cosicosi(zavináč)cosi.sk</a></dd>
<dt>telefón:</dt><dd class='tel'><span class='value'>(+421) 949 623 220</span></dd>
<dt>ičo:</dt>
<dd>nejake cislo</dd>
</dl>
{/block}
