# Apache configuration file (see httpd.apache.org/docs/2.2/mod/quickreference.html)

# disable directory listing
Options -Indexes

# enable cool URL
<IfModule mod_rewrite.c>
	RewriteEngine On
	# RewriteBase /

    #www to non-www
    RewriteCond %{HTTP_HOST} ^www.poha.sk [NC]
    RewriteRule ^(.*)$ http://poha.sk/$1 [L,R=301]

	# front controller
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule !\.(pdf|js|ico|gif|jpg|png|css|rar|zip|tar\.gz)$ index.php [L]

</IfModule>

# enable gzip compression
<IfModule mod_deflate.c>
	AddOutputFilterByType DEFLATE text/html text/plain text/xml text/css application/x-javascript text/javascript application/javascript application/json
</IfModule>

# allow combined JavaScript & CSS. Inside of script.combined.js you could use <!--#include file="script.js" -->
<IfModule mod_include.c>
	<FilesMatch "\.combined\.(js|css)$">
		Options +Includes
		SetOutputFilter INCLUDES
	</FilesMatch>
</IfModule>

<ifModule mod_expires.c>
  ExpiresActive On
  ExpiresDefault "access plus 1 seconds"
  ExpiresByType text/html "access plus 1 seconds"
  ExpiresByType image/gif "access plus 100000 seconds"
  ExpiresByType image/jpeg "access plus 100000 seconds"
  ExpiresByType image/png "access plus 100000 seconds"
  ExpiresByType text/css "access plus 100000 seconds"
  ExpiresByType text/javascript "access plus 100000 seconds"
  ExpiresByType application/javascript "access plus 100000 seconds"
  ExpiresByType application/x-javascript "access plus 100000 seconds"
  ExpiresByType application/x-font-ttf "access plus 10000000 seconds"
  ExpiresByType application/vnd.ms-fontobject "access plus 10000000 seconds"
</ifModule>
